
.body-title{
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    text-shadow: 2px 2px 5px #acacac;
}

.box-area{
    min-height: 480px;
}

.box{
    width: 90%;
    min-height: 100px;
    margin: 0 auto;
    padding: 10px;
    background: var(--secondary-color);
}

.date{
    font-size: 1.6rem;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 15px;
}

.description{
    font-size: 2rem;
}

/********************* Footer ***********************/

.footer{
    height: 120px;
}


/********************* Media Queries ***********************/


@media (max-width: 770px){

    
}